# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.db
smartbiz.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Environment variable variants
.env.*
!.env.example
.venv/
